@model IEnumerable<TTMovieModel.Model.Movie>
    
 
<div class="jumbotron">
    <h1>TamTam Movies</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


<div class="container">
    <div class="row">
        <div class="col-xs-6">

            <h2>16:9 Responsive Aspect Ratio</h2>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="//www.youtube.com/embed/RgKAFK5djSk" allowfullscreen></iframe>
            </div>
        </div>

        <div class="col-xs-6">

            <h2>Informacao mais detalhada</h2>
            
        </div>

    </div>
</div>



<div id="MovieInformationContent" class="row">

    @foreach (var item in Model)
    {

        <div class="col-md-5">
            <h2>@Html.DisplayFor(modelItem => item.Title.Name)</h2>
            <p> @Html.DisplayFor(modelItem => item.ID) </p>
            <p><strong>Year</strong> @Html.DisplayFor(modelItem => item.Year) </p>
            <p>
                @Html.DisplayFor(modelItem => item.Resume)
            </p>
            <p><a class="btn btn-default">Ver trailer</a></p>
        </div>
    }


    
</div>
