@model IEnumerable<TTMovieModel.Model.Movie>
    
 
<div class="jumbotron">
    <h1>TamTam Movies</h1>

</div>


<div id="MovieDetailInformation" class="container"> </div>



<div id="MovieInformationContent" class="row">

    @if (Model != null)
    {
        foreach (var item in Model)
        {

            <div class="col-md-5">
                <h2>@Html.DisplayFor(modelItem => item.Title.Name)</h2>
                <p> @Html.DisplayFor(modelItem => item.ID) </p>
                <p><strong>Year</strong> @Html.DisplayFor(modelItem => item.Year) </p>
                <p>
                    @Html.DisplayFor(modelItem => item.Resume)
                </p>
                <p><a class="btn btn-default">Ver trailer</a></p>
            </div>
        }
    }


</div>
